# This is global ignore file for repository. 
# Its sole role is to ensure that only specific file types are placed in top level and some common folders of repository.
# If you need to allow some of those file types in other folders, create separate .gitignore file in those folders and negate exclusion/inclusion

!*

*.bat
*.ps1
*.sh
*.settings
*.yml

*.exe
*.dll
*.so

# ----------------- C++ specific

**/x64
**/x86
**/out/
.vs/

!*.h
!*.hpp
!*.cpp

!*.cmake
!CMakeLists.txt
!CMakePresets.json

# ----------------- C# specific

**/obj/
**/bin/

# ----------------- Rust specific

Cargo.lock
**/target/
**/vendor/

# ----------------- Python specific

*.pyc
**/__pycache__/

# ----------------- Repository workflow and management files

!.custom/Icons/*.*

!.custom/Scripts/*.bat
!.custom/Scripts/*.ps1
!.custom/Scripts/*.sh
!.custom/Scripts/*.settings

!.github/workflows/*.yml

!Scripts/*.bat
!Scripts/*.ps1
!Scripts/*.sh
!Scripts/*.settings

!launch-pwsh.*
!synchronize-repo.*
!README.md